* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(0deg, rgb(0 88 255 / 30%), rgba(255, 0, 150, 0.3)), url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

nav {
	height: 50px;
	width: 100%;
	padding: 20px 0;
}
.container {
	width: 1200px;
	max-width: 85%;
	margin: 0 auto;
}
nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 0px 6px;
}

nav ul li {
	padding: 20px;
}

nav ul li a {
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	padding: 5px;
}

nav ul li a.active {
	background-color: #1400ff;
	border-radius: 5px;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #bd00ff;
}

.main-content {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 70px;
	align-items: center;
}
.booking-form {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 25px;
	border-radius: 5px;
	float: left;
	margin-top: 15%;
}
.booking-form h3 {
	margin: 10px 0px;
	text-align: center;
}
.booking-form .input-group {
	margin: 10px 0;
}
.f-class {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inp-width {
	min-width: 300px;
}
.plus-minus {
	margin-top: 10px;
}

.plus-minus-btn {
	margin-top: 10px;
	border: none;
	cursor: pointer;
}

.plus-minus-btn:focus {
	outline: none;
}

.plus-minus button i {
	padding: 2px;
	color: #3352f2;
	font-size: 22px;
}

.booking-form .calculations {
	margin: 10px 0;
}
.booking-form .calculations p {
	font-weight: 500;
	margin-bottom: 10px;
}
.booking-form input {
	width: 100%;
	display: block;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd3d3;
	background: #f3f5ff;
	border-radius: 4px;
	margin: 10px 0;
}
.booking-form .inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
.booking-content {
	color: #fff;
	width: 80%;
}
.booking-content h1 {
	font-size: 70px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	margin-bottom: 25px;
	text-shadow: 4px 4px 0px #bd00ff;
}

.booking-content p {
	margin-bottom: 50px;
	background-color: #bd00ff;
	word-spacing: 1px;
	padding: 20px;
	color: #eeeeee;
	text-indent: 95px;
	border-left: 10px solid #1400ff;
}

.btn-style {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-weight: 500;
	background: linear-gradient(180deg, #1400ff 0%, #bd00ff 100%);
	cursor: pointer;
	transition: 0.5s ease-out;
}

.btn-style:hover {
	background: linear-gradient(180deg, #bd00ff 0%, #1400ff 100%);
}

.amount {
	display: flex;
	justify-content: space-between;
}

.learn {
	background-color: #1400ff;
	color: white;
	text-decoration: none;
	padding: 8px 15px;
	cursor: pointer;
	box-shadow: 8px 8px 0px 1px #bd00ff;
	transition: 0.5s ease-out;
}

.learn:hover {
	background-color: #bd00ff;
	color: white;
	box-shadow: 8px 8px 0px 1px black;
	text-decoration: none;
}

#success-area {
	display: none;
}

.invoice-title {
	overflow: hidden;
}

#main-title {
	width: 65%;
	float: left;
}

#main-title h4 {
	float: left;
}

#date {
	width: 30%;
}

.invoice-table {
	width: 90%;
	text-align: center;
	padding: 20px 0;
	background-color: #bd00ff;
	word-spacing: 1px;
	color: #eeeeee;
	border-left: 10px solid #1400ff;
	margin: 20px 0;
}

.table-title {
	color: #1400ff;
	font-weight: bold;
}
